body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Lato, sans-serif;

}

button {
    background-color:#01996D;
    border: 1px solid #01996D;
    width: 183px;
    height: 51px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

.header{
    width: 100%;
    height: 980px;
    text-align: justify;

}
a {
    color: #292929;
}
.header_nav{
    width: 100%;
    height: 85px;
    font-size: 20px;
    font-weight: 500px;
   
}

.header_list{
    display:inline-block;
    width: 40%;
    text-align: start;
    
    
}

.header_list li{
    display:inline-block;
    margin-right: 72px;
}

.header_list a:hover{
    color:#01996D;
    transition: 0.3s;
}
.header_right-elements a:hover {
        color: #01996D;
        transition: 0.3s;
}
h1 {
    margin: 0;
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 65px;
    color: #01996D;
}

.header_logo{
    display: inline-block;
    width: 30%;
    text-align: center;
    margin-top: 28px;
}

.header_right-elements {
    display: inline-block;
    width: 29%;
    text-align: center;

}
.header_sign {
    margin-right: 35px;
}

.header_part2{
    background-image: url(../img/Img/BG.jpg);
    background-size: 100% auto;
    background-repeat: no-repeat;
    height: 885px;
}

.header_part2_context {
    width: 440px;
    height: 366px;
    margin-left: 175px;
    padding-top: 182px;
    
}

.header_part2_context p {
    color: #484848;
    line-height: 31px;
    margin: 30px 0px 0px 0px;
    font-size: 20px;
}

.header_part2 button{
    margin-top: 55px;
    width: 227px;
    height: 65px;

}