body {
    font-size: 20px;
    font-family: Lato, sans-serif;

}

.container {
    position: relative;
    width: 1400px;
    margin: 0 auto;
    padding-left: 15px;
    padding-right: 15px;
}

h1 {
    font-family: 'Georgia';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    color: #01996D;
}

button {
    background-color:#01996D;
    border: 1px solid #01996D;
    width: 183px;
    height: 51px;
    border-radius: 4px;
    font-weight: 400;
    font-size: 20px;
    color: #FFFFFF;
}

a {
    color: #292929;
}

.header {
    border-bottom: 1px solid #D6D6D6;
}

.header-logo {
    display: inline-block;
    margin-right: 172px;
}

.header-nav {
    display: inline-block;
    font-size: 20px;
    font-weight: 500px;
    align-items: center; 
}

.header-nav li{
    display:inline-block;
    margin-right: 72px;
}

.header-nav li:last-child {
    margin-right: 0px;
}

.header-nav a:hover {
    color: #01996D;
    transition: 0.25s;
}

.header-login {
    padding-top: 15px;
    padding-bottom: 15px;
    display: inline-block;
    margin-left: 255px; 
}

.header-login a {
    margin-right: 35px;
}
.header-login a:hover{
    color: #01996D;
    transition: 0.25s;
}


.home {
    position: relative;
    min-height: 885px;
    
}

.home-content {
    position: absolute;
    width: 440px;
    height: 366px;
    padding-top: 182px;   
}

.home-content h1{
    max-width: 410px;
}

.home-content p{
    max-width: 410px;
    margin-top: 30px;
    color: #484848;
    line-height: 31px;
}
.home-content button{
    margin-top: 54px;
}
.home-button {
    width: 227px;
    height: 65px;
}
.home-background {
    z-index: -1;
    position: absolute;
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    
}
.home-background img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.content{
    background-color:#E5E5E5;
}

.content-menu {
    padding-top: 180px;
    padding-bottom: 50px;

}
.content-menu-phrase{
    color: #424242;
    font-weight: 600;
    font-size: 24px;
    line-height: 157%
}
.content-menu h2 {
    display: inline-block;
    vertical-align: top;
    font-family: Georgia;
    width: 584px;
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color:#01996D;
}
.content-menu-text {
    display: inline-block;
    margin-top: 20px;
    max-width: 650px;
    margin-left: 130px;
}
.content-menu-text p{
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    color: #424242;
}
.content-steps{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 98px;
    
}
.content-steps-namber{
    
}

.content-step-header{
    position: relative;
    font-family: 'Georgia';
    padding-top: 45px;
    padding-left: 88px;
    font-weight: 700;
    font-size: 29px;
    line-height: 150%;
    color: #000000;
}
.content-step-header::before{
    content:attr(data-namber);
    position: absolute;
    top: 0px;
    left: 0px;
    font-family: 'Georgia';
    font-weight: 400;
    font-size: 150px;
    color: rgba(1, 153, 109, 0.2);
}

.content-steps01{
    display: inline-block;
    padding-top: 126px;
    width: 390px;
}
.content-steps02 {
    display: inline-block;
    padding-top: 400px;
    width: 390px;
    
}
.content-steps03 {
    display: inline-block;
    padding-top: 170px;
    width: 390px;
}

.content-steps-text {
    padding-top: 65px;
    padding-bottom: 50px;
    font-family: 'Lato';
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color:#424242;
}

.content-container-img{
    position: relative;
    padding-bottom: 126%;

}

.conten-steps-img {
    position: absolute;
    width: 100%;
    height: auto;
    object-fit: cover;
}
